.container {
  background-color: rgb(87, 88, 89);
  padding: 2rem;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  height: 70px;
  background-color: #9d2626;
  align-items: center;
}

.titulo {
  font-size: 2rem;
  color: #252724;
}